* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
  background-color: #ff00ff;
}

header > :first-child {
  margin-right: auto;
}

header > div {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: #dda0dd;
}

main {
  display: flex;
  justify-content: center;
}

.main-side {
  width: 300px;
  background-color: #98fb98;
}

.main-position {
  max-width: 700px;
  flex-grow: 1;
  padding:20px;
  background-color: #008000;
  display: flex;
  flex-wrap: wrap;
}

.main-position > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #ffff00;
}
footer {
  background-color: #0000ff;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer > div {
  background-color: #b6e7ff;
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
}